<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>ReediItgam APP</title>
	<link rel="stylesheet" 
		href="./vendor/bootstrap/css/bootstrap.css">
	<style>
		.glyphicon-thumbs-up {cursor: pointer;}
	</style>
</head>
<body ng-app="reeditgam" 
	ng-controller="mainCtrl">	
	<!-- Creando el formulario -->
	<form ng-submit="addPost()">
		<!-- Input del Titulo -->
		<input type="text" ng-model="title">
		<br>
		<!-- Input del link -->
		<input type="text" ng-model="link">
		<br>
		<button type="submit">Post</button>
	</form>

	<div ng-repeat="post in posts | orderBy: '-upvotes'">
		<span ng-click="incrementUpvotes(post)">^</span>
		<!-- Agregando los links -->
		<a ng-show="post.link" href="{{post.link}}">
			{{post.title}}	
		</a>
		<span ng-hide="post.link">
			{{post.title}}
		</span>
		- Likes: {{post.upvotes}}
	</div>
	<!-- Cargando Librerias -->
	<!-- Es buena practica al final -->
	<!-- cargar los scrips -->
	<!-- Cargando a Angular -->
	<script 
		type="text/javascript"
		src="./vendor/angular/angular.js">
		</script>
	<!-- Cargando app.js -->
	<script
		type="text/javascript"
		src="./scripts/app.js"></script>
</body>
</html>